#login-box {
    border:thin solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

#login-body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#create-account {
    display: none;
    border:thin solid red;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
    justify-content: space-between;
}

#break {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-bottom: 10px;
}

.login-hr {
    width: 150px;
    height: 0;
}

#name-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#name-input label {
    font-size: 20px;
    margin-bottom: 10px;
}

#login-button {
    margin-bottom: 10px;
}

#user-name-login {
    padding:0px;
}

.create-input {
    margin-bottom: 10px;
}

#submit-button-section {
    display: flex;
    justify-content: center;

}