/* #User-page {
    button-align:
}  */

button {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
}
  
h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

/* Apply Absolute Positioning to center the form */
.container {
    position: relative;
    height: 100vh; /* Adjust to center the form vertically */
}
  
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}